<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  
  
  <configSections>

  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://119.46.91.238/service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="Webservice_IDLT.ServiceSoap" name="ServiceSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" /> <!-- hide part http parameter : false -->
         
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
   <defaultDocument>
     <files>
       <add value="Service_IDLT_Contract.svc" />
     </files>
   </defaultDocument>
  </system.webServer>

  <appSettings>
       <add key="dbConnection" value="server='(local)';uid='sa';pwd='Hv6vu502';database='Dtac';Max Pool Size=10000;Connect Timeout=2400" />
       <add key="secureCode" value="HV"/>
  </appSettings>
  
</configuration>
